WebContent/wsdl/Eleve.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soacc.tp" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soacc.tp" xmlns:intf="http://soacc.tp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soacc.tp" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getMoyen">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMoyenResponse">
    <complexType>
     <sequence>
      <element name="getMoyenReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getMoyenRequest">

      <wsdl:part element="impl:getMoyen" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMoyenResponse">

      <wsdl:part element="impl:getMoyenResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Eleve">

      <wsdl:operation name="getMoyen">

         <wsdl:input message="impl:getMoyenRequest" name="getMoyenRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMoyenResponse" name="getMoyenResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EleveSoapBinding" type="impl:Eleve">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getMoyen">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMoyenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMoyenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EleveService">

      <wsdl:port binding="impl:EleveSoapBinding" name="Eleve">

         <wsdlsoap:address location="http://localhost:8282/TP/services/Eleve"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
